.suggest-list-item
	margin: 50px 0
	border-radius: 10px
	border: 1px solid #ddd
	background-color: white
		
.suggest-list-item__header
	background-color: #eee
	border-top-left-radius: 10px
	border-top-right-radius: 10px
	padding: 20px 30px
	&:after
		content: ""
		display: block
		clear: both
	span
		display: inline-block
		font-size: 20px
		color: #333
	.author
		float: left
	.date-time
		float: right
			
.suggest-list-item__message
	padding: 20px 30px 0
	.suggest
		font-size: 28px
	.category
		font-size: 20px
		span
			display: inline-block
			padding 5px
			border-radius: 5px
			background-color: #778899
			color: white
			
.suggest-list-item__feedback
	padding: 20px 30px
	.likes-amount
		display: block
		border-top: 1px solid #ddd
		padding: 15px 0 0
		color: #333
		font-style: italic
		
.suggest-list-item__footer
	padding: 20px 30px
	.comment-form
		display: block
		border-top: 1px solid #ddd
		padding: 15px 0 0
		> form
			display: inline-block
			margin-left: 15px
			width: auto			
			> input
				border: none
				border-bottom: 1px solid #ddd
				width: auto
				font-size: 18px
				
	.like-btn
		border: none
		background-color: transparent
		cursor: pointer
		img
			width: 30px
			height: 30px
			