@import '_normalize.styl'
@import '_reset.styl'
@import '_libruary.styl'
@import '_suggestreader.styl'

*
	font-family: 'Arimo', sans-serif
	box-sizing: border-box

body
	background: #f0f8ff
	color: #333
	
.app-container
	width: 800px
	margin: 50px auto